<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app_id %>
    <%= form.number_field :app_id %>
  </div>

  <div class="field">
    <%= form.label :market_hash_name %>
    <%= form.text_field :market_hash_name %>
  </div>

  <div class="field">
    <%= form.label :rarity %>
    <%= form.text_field :rarity %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
